* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFCF5;
}

#wrapper {
  overflow: hidden;
}

header {
  width: 100%;
  height: 7vh;
  background-color: #36454f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header > a:nth-of-type(1) {
  cursor: pointer;
  width: 100px;
}

header > a:nth-of-type(1) img {
  width: 95%;
}

header > a:nth-of-type(2) {
  color: #FFFCF5;
  cursor: pointer;
  height: 100%;
  line-height: 7vh;
  margin-right: 5%;
}

header > span {
  margin-left: 5%;
  position: relative;
  width: 20px;
}

header > span i {
  color: #FFFCF5;
  font-size: 1.5em;
  display: block;
}

header > span i:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

header nav,
header .icons_nav {
  display: none;
}

header #slider {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 93vh;
  background-color: #36454f;
  right: 100%;
  top: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right .5s ease;
  transition: right .5s ease;
  font-family: "Poppins", sans-serif;
  padding-top: 15%;
}

header #slider a {
  color: #FFFCF5;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 10%;
}

header #slider ul {
  list-style: none;
  text-align: center;
}

header #slider ul li {
  margin-top: 15%;
}

header #slider ul li ul li {
  margin-top: 0;
}

header #slider ul li ul li a {
  font-size: 1.1em;
  margin-top: 0;
}

header #slider.active_slider {
  right: 0;
}

footer {
  width: 100%;
  font-family: 'poppins', sans-serif;
  color: #FFFCF5;
  background-color: #36454F;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerp2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer a {
  text-decoration: none;
  margin-top: 10px;
  color: #fffcf5;
  font-size: 14px;
}

footer h3 {
  color: #fffcf5;
}

.biglogo {
  width: 5em;
}

.followicons {
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fffcf5;
}

.followicons i {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

footer {
  width: 100%;
  font-family: 'poppins', sans-serif;
  color: #FFFCF5;
  background-color: #36454F;
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerp2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer a {
  text-decoration: none;
  margin-top: 10px;
  color: #fffcf5;
  font-size: 14px;
}

.biglogo {
  width: 7em;
}

.followicons {
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fffcf5;
}

.followicons i {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

footer {
  display: block;
}

.footerp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

.footerp2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  header > a:nth-of-type(1) {
    margin-left: 4%;
  }
  header > a:nth-of-type(2) {
    color: #FFFCF5;
    cursor: pointer;
    height: 100%;
    line-height: 7vh;
    display: none;
  }
  header > span {
    display: none;
  }
  header nav,
  header .icons_nav {
    display: block;
  }
  header .icons_nav {
    margin-right: 4%;
    width: 150px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .icons_nav a {
    cursor: pointer;
  }
  header .icons_nav a:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .icons_nav a:first-of-type p {
    font-size: .8em;
    padding-left: 10px;
  }
  header .icons_nav i {
    font-size: 1.5em;
  }
  header .fa-bars {
    display: none;
  }
  header > i:hover {
    color: red;
  }
  header a {
    color: #FFFCF5;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  header nav {
    height: 100%;
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 25px;
  }
  header nav > ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    background-color: #36454f;
    color: #FFFCF5;
  }
  header nav > ul li {
    height: 100%;
    width: 100px;
    line-height: 7vh;
    text-align: center;
    margin: 0 25px;
  }
  header nav > ul li a {
    position: relative;
  }
  header nav > ul li a:hover::before {
    opacity: 1;
    content: "-";
    font-family: active;
    font-size: 50px;
    position: absolute;
    -webkit-transform: translateY(-52.5%);
            transform: translateY(-52.5%);
    top: 50%;
    left: -20px;
  }
  header nav > ul li a:hover::after {
    opacity: 1;
    content: "-";
    font-family: active;
    font-size: 50px;
    position: absolute;
    -webkit-transform: translateY(-52.5%);
            transform: translateY(-52.5%);
    top: 50%;
    right: -20px;
  }
  header nav > ul > li:nth-of-type(3) {
    background-color: #36454f;
    color: #FFFCF5;
    line-height: 7vh;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  header nav > ul > li:nth-of-type(3) ul {
    width: 150%;
    height: 100px;
    list-style: none;
    background-color: #36454f;
    color: #FFFCF5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  header nav > ul > li:nth-of-type(3) ul li {
    line-height: normal;
    width: 100%;
    color: #FFFCF5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
  }
  header nav > ul > li:nth-of-type(3) ul li a {
    position: relative;
  }
  header nav > ul > li:nth-of-type(3) ul li a:hover::before {
    opacity: 1;
    content: "-";
    font-family: active;
    font-size: 50px;
    position: absolute;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    top: 50%;
    left: -20px;
  }
  header nav > ul > li:nth-of-type(3) ul li a:hover::after {
    opacity: 1;
    content: "-";
    font-family: active;
    font-size: 50px;
    position: absolute;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    top: 50%;
    right: -20px;
  }
  header nav > ul > li:nth-of-type(3):hover ul {
    opacity: 1;
  }
  header #slider {
    display: none;
  }
  footer {
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #FFFCF5;
    background-color: #36454F;
    padding: 5% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerp1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerp2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer a {
    text-decoration: none;
    margin-top: 10px;
    color: #fffcf5;
    font-size: 14px;
  }
  footer h3 {
    color: #fffcf5;
  }
  .biglogo {
    width: 15em;
  }
  .followicons {
    width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #fffcf5;
  }
  .followicons i {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  footer {
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #FFFCF5;
    background-color: #36454F;
    padding: 5% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerp1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerp2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer a {
    text-decoration: none;
    margin-top: 10px;
    color: #fffcf5;
    font-size: 14px;
  }
  .biglogo {
    width: 10em;
  }
  .followicons {
    width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #fffcf5;
  }
  .followicons i {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
}

@media screen and (min-width: 1600px) {
  nav {
    height: 100%;
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav > ul > li:nth-of-type(3) ul {
    width: 200%;
    height: 120px;
    list-style: none;
    background-color: #36454f;
    color: #FFFCF5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(-12.5%);
            transform: translateX(-12.5%);
  }
  nav > ul > li:nth-of-type(3) ul li {
    line-height: normal;
    padding-left: 20%;
  }
  footer {
    width: 100%;
    font-family: 'poppins', sans-serif;
    color: #FFFCF5;
    background-color: #36454F;
    padding: 5% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerp1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerp2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer a {
    text-decoration: none;
    margin-top: 10px;
    color: #fffcf5;
    font-size: 14px;
  }
  footer h3 {
    color: #fffcf5;
  }
  .biglogo {
    width: 15em;
  }
  .followicons {
    width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #fffcf5;
  }
  .followicons i {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
}
/*# sourceMappingURL=styles_nav.css.map */
